.image {
  width: 280px;
  height: 70px;
}
.image .logo {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .image {
    width: 180px;
    height: 40px;
  }
}
.link {
  width: fit-content;
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  transition: all 0.1s ease-in-out;
}
.link:hover {
  border-bottom: 1px solid white;
}
